# Binarki C++
blackbox*
blackbox.exe
*.exe
*.o
*.obj
a.out
*.so
*.dll

# Windows
Thumbs.db
Desktop.ini
.DS_Store

# IDE/Edytory
.vscode/
.idea/
*.swp
*~
*.log

# Debug
core
vgcore.*

# OS generowane
ehthumbs.db
ehthumbs_vi.db
